@font-face {
	font-family: 'Conv_jj-rg';
	src: url('fonts/jj-rg.eot');
	src: local('☺'), url('fonts/jj-rg.woff') format('woff'), url('fonts/jj-rg.ttf') format('truetype'), url('fonts/jj-rg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_jj-lt';
	src: url('fonts/jj-lt.eot');
	src: local('☺'), url('fonts/jj-lt.woff') format('woff'), url('fonts/jj-lt.ttf') format('truetype'), url('fonts/jj-lt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}